body {
	text-align: center;
	margin: 0;
}
h1, h2, a {
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
}
h1 {
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}
a {
	color: #FFFFFF;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}
a:hover {
	border-color: #FFFFFF;
}
h2 {
	color: #0D2C40;
	font-weight: 600;
	font-size: 20px;
}
p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}
header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}
nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;
}
main {
	width: 850px;
	margin: 35px auto;
}
img {
	margin: 40px 8px 0;
}
footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
footer p {
	font-family: "Raleway", sans-serif;
}
.copyright {
	float: left;
}
.message {
	float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name {
	color: #F15B31;
	font-weight: 700;
}